<h1>NEWS DAL MONDO</h1>

<div class="menu">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/news" routerLinkActive="active">News</a>
    <a routerLink="/admin" routerLinkActive="active">Admin</a>
    <a routerLink="/prove" routerLinkActive="active">Prove</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
</div>

<!-- <span>You are {{ isLoggedIn ? '' : ' not ' }} logged in</span> -->

<!-- <ng-container [ngSwitch]="activePage">
    <app-home *ngSwitchCase="'home'"></app-home>
    <app-news *ngSwitchCase="'news'"></app-news>
    <app-admin *ngSwitchCase="'admin'"></app-admin>
    <app-prove *ngSwitchCase="'prove'"></app-prove>
    <app-login *ngSwitchCase="'login'"></app-login>
</ng-container> -->
<!-- <a routerLink="/home" routerLinkActive="active">Home</a>
<a routerLink="/news" routerLinkActive="active">News</a>
<a routerLink="/admin" routerLinkActive="active">Admin</a>
<a routerLink="/prove" routerLinkActive="active">Prove</a>
<a routerLink="/login" routerLinkActive="active">Login</a> -->

<router-outlet></router-outlet>

<!-- <app-home *ngIf="activePage === 'home'"></app-home>
<app-news *ngIf="activePage === 'news'"></app-news>
<app-admin *ngIf="activePage === 'admin'"></app-admin>  -->