<h1 appHighlight [hlColor]="coloreDelTitolo">NEWS DAL MONDO</h1>
<span>Colore del titolo: </span>
<select [(ngModel)]="coloreDelTitolo">
    <option *ngFor="let color of availableColors" [ngValue]="color">{{ color }}</option>
</select>

<div class="menu">
    <app-menu (onMenuClick)="setPage($event)"></app-menu>
</div>

<ng-container [ngSwitch]="activePage">
    <app-home *ngSwitchCase="'home'"></app-home>
    <app-news *ngSwitchCase="'news'"></app-news>
    <app-admin *ngSwitchCase="'admin'"></app-admin>
    <app-prove *ngSwitchCase="'prove'"></app-prove>
</ng-container>


<!-- <app-home *ngIf="activePage === 'home'"></app-home>
<app-news *ngIf="activePage === 'news'"></app-news>
<app-admin *ngIf="activePage === 'admin'"></app-admin>  -->